.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 170px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 15px;

  a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
    font-family: 'Kanit', sans-serif;
    padding: 8px 40px;

    transition:
      box-shadow 0.3s ease,
      transform 0.3s ease;
  }

  a:hover {
    box-shadow: 0 0 15px rgba(193, 19, 181, 0.438);
    border-radius: 8px;
    transform: scale(1.07);
  }

  .active {
    box-shadow: 0 0 15px rgba(193, 19, 181, 0.438);
    border-radius: 8px;
    transform: scale(1.07);
  }
}

.nav-connect {
  display: flex;
  gap: 40px;

  button {
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    align-items: center;
    letter-spacing: 0.75px;
    justify-content: center;
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
    transition:
      transform 0.5s,
      outline 0.1s;

    &:hover {
      transform: scale(1.07);
      box-shadow: 0 0 15px rgba(235, 155, 230, 0.568);
    }

    a {
      text-decoration: none;
      color: aliceblue;
    }
  }
}
