@import '../../../variables';
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  width: 100%;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 15px;

  a {
    display: inline-block;
    text-decoration: none;
    font-size: $font-size-lg;
    color: $font-color-primary;
    font-family: $font-family-base;
    padding: 8px 40px;

    transition:
      box-shadow 0.3s ease,
      transform 0.3s ease;
  }

  a:hover {
    box-shadow: $box-shadow-hover-navbar-links;
    border-radius: 8px;
    transform: scale(1.07);
  }

  .active {
    box-shadow: $box-shadow-hover-navbar-links;
    border-radius: 8px;
    transform: scale(1.07);
  }
}

.nav-connect {
  display: flex;
  gap: 40px;

  button {
    border: none;
    font-size: $font-size-sm;
    padding: 10px 20px;
    border-radius: 8px;
    align-items: center;
    letter-spacing: 0.75px;
    justify-content: center;
    background: $bg-color-gradiente;
    transition:
      transform 0.5s,
      outline 0.1s;

    &:hover {
      transform: scale(1.07);
      box-shadow: $box-shadow-hover-navbar-btn;
    }

    a {
      text-decoration: none;
      color: $font-color-primary;
    }
  }
}
