.portifolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-family: 'Kanit', sans-serif;

  .portifolio-title {
    position: relative;
    margin-bottom: 25px;

    h3 {
      padding: 0px 30px;
      font-size: 40px;
      font-weight: 600;
    }

    img {
      position: absolute;
      bottom: 15px;
      right: 5px;
      height: 20px;
      z-index: -1;
    }
  }

  .portifolio-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: start;
    width: 100%;
    max-width: 1400px;
  }

  .portifolio-cards > * {
    flex-basis: calc(
      (100% / 3) - 16px
    ); /* Divide o espaço em 3 itens por linha, ajustando para o gap */
    max-width: calc((100% / 3) - 20px);
  }
  flex-grow: 0;
}

.portifolio-card-container {
  display: flex;
  width: 300px;
  height: 400px;
  padding: 16px;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;

  .thumbnail-container {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;

    img {
      border-radius: 0.5rem;
      max-width: 100%;
    }
  }

  .description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.5px;
    font-weight: 100;
  }
  .links-container {
    display: flex;
    gap: 20px;
    margin-top: 16px;
    a {
      text-decoration: none;
      color: aliceblue;
      padding: 5px 50px;
      border-radius: 10px;
      align-items: center;
      letter-spacing: 0.75px;
      justify-content: center;
      background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
      transition:
        transform 0.5s,
        outline 0.1s;

      &:hover {
        transform: scale(1.07);
        outline: 2px solid aliceblue;
      }
    }
  }
}
