@import '../../../variables';

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $font-color-primary;
  font-family: $font-family-base;
  width: 100%;
  margin: 0 auto;

  .about-title {
    position: relative;
    margin-bottom: 2.5rem;

    h1 {
      padding: 0 3rem;
      font-size: $font-size-title;
      font-weight: 600;
    }

    img {
      position: absolute;
      bottom: 1.5rem;
      right: 0.5rem;
      height: 2rem;
      z-index: -1;
    }
  }

  .about-sections {
    display: flex;
    gap: 6rem;
    width: 100%;
    font-size: $font-size-lg;
    font-weight: 300;
    line-height: 1.75;
    text-align: justify;   

    .about-description {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      padding: 1.75rem;

      span {
        background: $bg-color-gradiente-span;
        font-weight: 500;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .about-techs-title {
        margin-top: 3rem;
        margin-bottom: 3rem;
        letter-spacing: 1.5px;
        font-size: $font-size-title;
      }

      .about-techs {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 2rem;
        justify-content: center;

        .about-tech {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}

@include responsive-to($breakpoint-lg) {
  .about-container {
    .about-sections {
      padding: 0 3rem;
    }
  }
}

@include responsive-to($breakpoint-sm) {
  .about-container {
    display: flex;
    flex-direction: column;

    .about-sections {
      display: flex;
      flex-direction: column;

      .about-description {
        .about-techs-title {
          font-size: $font-size-xl;
        }
      }
    }
  }

  .about-picture {
    margin: 0 auto;
  }
}
