$font-color-primary: aliceblue;
$font-color-secondary: #6c757d;

$bg-color-gradiente: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
$bg-color-gradiente-span: linear-gradient(270deg, #df8908 10%, #b415ff 100%);

$font-size-sm: 1.4rem;
$font-size-base: 1.6rem;
$font-size-lg: 2rem;
$font-size-xl: 3rem;
$font-size-xxl: 5rem;
$font-size-title: 4rem;
$font-size-title-card: 2.4rem;

$font-family-base: 'Kanit', sans-serif;

$box-shadow-hover-navbar-links: 0 0 15px rgba(193, 19, 181, 0.438);
$box-shadow-hover-navbar-btn: 0 0 15px rgba(235, 155, 230, 0.568);

$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 425px;
$breakpoint-xsm: 376px;

@mixin responsive-to($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}
